* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

$blue: #0099ff;
$deepBlue: #114c7c;
$background: #151a32;
$borderRadius: 2px;
$transition: all .3s ease;

.App {
    background-color: $background;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    @media screen and (max-width: 700px) {
        height: auto;
    }
}

h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
    margin: 1em;
    @media screen and (max-width: 700px) {
        font-size: 2rem;
    }
}
.container{
display: flex;
flex-direction: column;
max-width: 500px;
gap: 30px;
margin: 1em;
@media screen and (max-width: 700px) {
    width: 80%;
}
.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    height: 2.5em;
    @media screen and (max-width: 700px) {
        flex-direction: column;
        height: auto;
        
    }
    .generateBtn{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        @media screen and (max-width: 700px) {
            background-color: white;
            color: $deepBlue;
            font-weight: bold;
        }
    }

    label {
        color: white;
        font-size: 1.2rem;
    }
    button{
        background-color: $blue;
        color: white;
        padding: 6px 0;
        width: 200px;
        border-radius: $borderRadius;
        border: none;
        cursor: pointer;
        height: 100%;
        font-size: 1.2rem;
        transition: $transition;
        @media screen and (max-width: 700px) {
            width: 100%;
            height: 45px;
        }
        &:hover{
            opacity: 0.6;
        }
    }
 
   
   
    
}
.lastRow{
    display: flex;
    height: 2.5em;
    flex-direction: row;
    gap: 20px;
    @media screen and (max-width: 700px) {
        flex-direction: row!important;
    }
    .inputDisabled{
        background-color: transparent;
        color: white;
        border: 1px solid white;
        border-radius: $borderRadius;
        height: 100%;
        width: 80%;
        text-align: center;
        font-size: 1rem;
        @media screen and (max-width: 700px) {
            height: 45px;
        }
    }
   
    .copyPassword{
        background-color:white;
        width: 20%;
        border: none;
        height: 100%;
        cursor: pointer;
        transition: $transition;
        &:hover{
            opacity: 0.5;
        }
    }
}
.copyInfo{
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    .copyText{
        color: white;
        text-align: center;
        width: 100%;
        opacity: 0;
        animation-name: slideUp;
        animation-duration: 2s;
        transform: translateY(200%);
        @media screen and (max-width: 700px) {
        transform: translateX(100%);
        animation-name: slideLeft;
            
        }
    }
    @keyframes slideUp{
        40%{
            transform: translateY(0%);
        opacity: 1;

        }
        100%{
        transform: translateY(200%);
        opacity: 0;

        }
       
      }
      @keyframes slideLeft {
          50%{
              transform: translateX(0%);
        opacity: 1;

          }
          100%{
              transform: translateX(100%);
        opacity: 0;

          }
      }
}
}


.inputContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 0;
    @media screen and (max-width: 700px) {
        width: 100%;
    }

    button {
        font-size: 1.5rem;
        height: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        width: 50px!important;
        background-color: $blue;
        color: white;
        transition: $transition;

        &:nth-child(1) {
            border-radius: $borderRadius 0 0 $borderRadius;
            @media screen and (max-width: 700px) {
                height:  40px;
                width: 10%;
            }
        }

        &:last-child {
            border-radius: 0 $borderRadius $borderRadius 0;
            @media screen and (max-width: 700px) {
                height:  40px;
                width: 10%;
            }
        }
        &:hover{
            opacity: 0.6;
        }

    }

    input {
        font-size: 1.2rem;
        background-color: $deepBlue;
        color: white;
        height: 100%;
        width: 100px;
        appearance: none;
        outline: none;
        border: none;
        padding: .7em 1em;
        text-align: center;
        @media screen and (max-width: 700px) {
            width: 80%;
            height: 40px;
        }
    }
}

